/* Globals
-------------------------------------------------- */

/* Links */
a,
a:focus {
  color: rgb(64, 126, 231);
}
a:hover {
  color: rgb(0, 173, 156);
  text-decoration: none;
}

/* Custom default button */
.btn-default {
  color: #fff !important;
  text-shadow: none;
  background-color: rgba(64, 126, 231, 0.6);
  border: 1px rgba(64, 126, 231, 0.6);
  -webkit-transition: .3s ease-in-out;
       -o-transition: .3s ease-in-out;
          transition: .3s ease-in-out;
}
.btn-default:hover,
.btn-default:focus {
  color: #fff !important;
  text-shadow: none;
  background-color: rgba(0, 173, 156, 0.6);
  border: 1px rgba(0, 173, 156, 1);
}


/* Base structure
-------------------------------------------------- */

/* Space out content and lighter body text */
body {
  /*padding-top: 20px;*/
  /*padding-bottom: 20px;*/
  color: #68615e;
  background-color: #eee;
}
h1,
h2 {
  font-family: 'Bree Serif', serif;
}
a {
  font-family: 'Raleway', sans-serif;
}
.section {
  margin-bottom: 3rem;
}
hr {
  width: 50%;
  border-color: rgba(106, 159, 181, .3) !important;
}
.img-fluid {
  width: 100%;
}


/* Header
-------------------------------------------------- */

/* Custom page header */
.header {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #e0f0ff;
  border-bottom: 3px solid #6a9fb5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  color: #6a9fb5;
  padding-top: 20px;
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.nav-pills {
  padding-top: 20px;
}
/* Custom pills */
.nav-pills > li > a {
  color: #6a9fb5;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-radius: 0 !important;
}
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
  background-color: transparent;
  border-top-color: #6a9fb5;
  border-bottom-color: #6a9fb5;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #f22c40;
  background-color: transparent;
  border-top-color: #f22c40;
  border-bottom-color: #f22c40;
}
.nav-pills > li + li {
  margin-left: .25rem;
}
.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #fff;
  background-color: #f22c40;
}


/* Cover background image styles
-------------------------------------------------- */

.home,
.about,
.contact {
  height: 60vh;
  max-height: 58rem;
  min-height: 32rem;
  color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-box-sizing: border-box;
       box-sizing: border-box;

}
.about {
  background-image: url('../img/ridingpow.jpg');
}
.contact {
  height: calc(100vh - 139px) !important;
  background-image: url('../img/laptop-sunset.jpg');
}
.home h1,
.about h1 {
  text-shadow: -2px 2px 3px rgba(64, 126, 231, 0.6);
}
.home p,
.about p {
  font-family: 'Raleway', sans-serif;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

/* Down button */
.scroll-down-home,
.scroll-down-about {
  position: relative;
  bottom: 5rem;
  cursor: pointer;
  color: rgba(64, 126, 231, 0.6);
  -webkit-transition: .3s linear;
       -o-transition: .3s linear;
          transition: .3s linear;
}
.scroll-down-home:focus,
.scroll-down-about:focus,
.scroll-down-home:hover,
.scroll-down-about:hover {
  color: rgba(0, 173, 156, 0.6);
}

.caption-center {
  position: relative;
  text-align: center;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

@media (max-width: 767px) {
  .home,
  .about {
    height: calc(100vh - 79px);
    max-height: 58em;
    min-height: 32em;
  }
}


/* Marketing content
-------------------------------------------------- */

.marketing {
  margin-bottom: 6rem;
}
.marketing h1 {
  color: #6a9fb5 !important;
}
/* Center align the text within the three columns below the header */
.marketing .col-lg-6 {
  text-align: center;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
.home {
  position: relative;
}
.bg-video {
  position: absolute;
  left: 50%; /* % of surrounding element */
  top: 50%;
  transform: translate(-50%, -50%); /* % of current element */
}


/*
 * Cover
 */

.cover {
  padding: 1.5rem;
  background-color: rgba(0, 0, 0, .3);
  -webkit-backdrop-filter: blur(2px);
       -o-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  -webkit-transition: .3s ease-in-out;
       -o-transition: .3s ease-in-out;
          transition: .3s ease-in-out;
}

.cover hr {
  border-color: rgba(255, 255, 255, .3) !important;
  -webkit-transition: .3s ease-in-out;
       -o-transition: .3s ease-in-out;
          transition: .3s ease-in-out;
}

@media (min-width: 768px) {
  .cover {
    padding: 2.5rem;
    border-radius: 3em;
  }
  .cover:hover {
    border-radius: 4em;
  }
  .cover:hover hr {
    width: 45%;
  }
}
@media (max-width: 767px) {
  .cover {
    width: 100%;
  }
}


/*
 * Cards
 */

.card {
  background-color: transparent;
  border-color: rgba(106, 159, 181, .3) !important;
  margin-top: .75rem;
  border-radius: .75rem;
  overflow: hidden;
  -webkit-transition: .3s ease-in-out;
       -o-transition: .3s ease-in-out;
          transition: .3s ease-in-out;
}

.card img {
  border-bottom: 1px solid rgba(106, 159, 181, .3);
}

.card-footer {
  background-color: transparent !important;
  border-top: none !important;
}

@media (min-width: 768px) {
  .card-container {
    margin-left: 25%;
    margin-right: 25%;
  }
}


/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  color: #fff;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #6a9fb5;
}
.container .text-muted {
  color: #fff !important;
  margin-bottom: 0 !important;
}
