
<div class="header">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li class="nav-item" data-ng-class="{ active: tab.isSet(1) }"><a href class="nav-link" data-ng-click="tab.setTab(1)">HOME</a></li>
      <li class="nav-item" data-ng-class="{ active: tab.isSet(2) }"><a href class="nav-link" data-ng-click="tab.setTab(2)">ABOUT</a></li>
      <li class="nav-item" data-ng-class="{ active: tab.isSet(3) }"><a href class="nav-link" data-ng-click="tab.setTab(3)">CONTACT</a></li>
    </ul>
  </nav>
  <h3 class="hidden-xs-down">Jake Fulton Buckle</h3>
  <h3 class="hidden-sm-up">Jake</h3>
</div>

<div data-ng-show="tab.isSet(1)">
  <tab-home></tab-home>
</div>
<div data-ng-show="tab.isSet(2)">
  <tab-about></tab-about>
</div>
<div data-ng-show="tab.isSet(3)">
  <tab-contact></tab-contact>
</div>

<div data-ng-show="tab.isSet(1)">
  <content-home></content-home>
</div>
<div data-ng-show="tab.isSet(2)">
  <content-about></content-about>
</div>
